<!DOCTYPE html>
<html>
    <body>
        <div style="text-align: center; background-color: #59ab6f;">
            <img src="cid:logo" alt="logo" width="100" height="100" align="left">
            <h1>Pakshi Resort</h1>
            <h4>Room Reservation Confirmed</h4>
        </div>
        <br>
        <div>
            <h2>Dear {{ guest.name }},</h2><br>
            <p>Thank you for choosing to stay with Pakshi Resort. We are looking forward to welcome you in our resort. Our professional and friendly staff are committed to ensure your stay is both enjoyable and comfortable.<br>
                <b>Following room/rooms has/have been reserved successfully for respective duration.</b>
            </p>
            <table align="center">
                <tr style="background-color: #59ab6f;">
                    <th>Room No</th>
                    <th>Room Category</th>
                    <th>Check In Date</th>
                    <th>Check Out Date</th>
                    <th>Cost Per Night</th>
                </tr>

                {% for booking in bookings %}
                    <tr>
                        <th>{{ booking.room.room_num }}</th>
                        <th>{{ booking.room.room_type.room_type }}</th>
                        <th>{{ booking.check_in }}</th>
                        <th>{{ booking.check_out }}</th>
                        <th>{{ booking.rate }}</th>
                    </tr>
                {% endfor %}
            </table>

            <h3>Best Wishes and Regards</h3>
            <h4>Pakshi Resort Ltd.</h4>

            <p>For any inconvience please contact with us.</p>
        </div>
        <div style="text-align: left; background-color: #59ab6f; padding: 2;">
            <h4>For any query, Contact directly <b>01730706252</b> or <b>01730706257</b> or email at <b>info@pakshiresort.com</b></h4>
            <h5>You can visit our website <a href="https://pakshiresort.com">https://pakshiresort.com</a></h5>
            <h3>Pakshi Resort Ltd.</h3>
            <p>Khankashorif Road, Pakshi <br>
            Ishwardi Z6006, Pabna, Rajshahi.</p>
        </div>
    </body>
</html>