// FONTS
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400;600;700&display=swap');

// BREAKPONT & VARIABLES
@import "./breakpoints.scss";
@import "./variable.scss";

// SCSS FOR PAGES
@import "./pages/PageNotfound.scss";
@import "./pages/Login.scss";
@import "./pages/Dashboard.scss";
@import "./pages/ActiveGuests.scss";
@import "./pages/Book.scss";
@import "./pages/Booking.scss";
@import "./pages/BookingRequest.scss";
@import "./pages/FoodOrders.scss";
@import "./pages/FoodManagement.scss";
@import "./pages/Admin.scss";
@import "./pages/Ticket.scss";
@import "./pages/Stastics.scss";

@import "./pages/GuestSite/Navigation.scss";
@import "./pages/GuestSite/Home.scss";
@import "./pages/GuestSite/Rooms.scss";
@import "./pages/GuestSite/Room.scss";
@import "./pages/GuestSite/Facilities.scss";
@import "./pages/GuestSite/Eat.scss";
@import "./pages/GuestSite/About.scss";
@import "./pages/GuestSite/Contact.scss";
@import "./pages/GuestSite/Privacy.scss";
@import "./pages/GuestSite/Sitemaps.scss";
@import "./pages/GuestSite/BookInGuestSide.scss";
@import "./pages/GuestSite/BookByGuest.scss";
@import "./pages/Restaurent.scss";
@import "./pages/Notfound.scss";


// SCSS FOR COMPONENTS
@import "./components/Home/Rooms.scss";
@import "./components/Home/Features.scss";
@import "./components/Home/Overlay.scss";
@import "./components/Home/Events.scss";
@import "./components/Navigation/TopNav.scss";
@import "./components/StaffsSection/ContentBox.scss";
@import "./components/StaffsSection/StaffHeading.scss";
@import "./components/Booking/RoomInfo.scss";
@import "./components/Booking/BookingForm.scss";
@import "./components/Guests/Invoice.scss";
@import "./components/Guests/PaymentModal.scss";
@import "./components/Dashboard/FoodOrder.scss";
@import "./components/Dashboard/RoomDetails.scss";
@import "./components/BookByGuest/SelectAroom.scss";
@import "./components/Footer.scss";

// FOR ALL COMPONENTS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// SETUP WEBSITE BACKGROUND COLOR
body,
html {
  background: #FAF7F2;
  visibility: hidden;
  user-select: none;
  overscroll-behavior: none;
}

// GLOBAL STYLES
.loading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{width: 13%;}
  h2{
    margin-top: 20px;
    font-family: var(--quicksand-font);
    font-weight: normal;
    text-transform: uppercase;
    color: var(--primary-colo-2);
  }
}