// @font-face {
//     font-family: WRITTEN;
//     src: url("../assets/fonts/BeatneyRegular-qZmWr.ttf");
// }
@font-face {
    font-family: WRITTEN;
    src: url("../assets/fonts/Signature.ttf");
}
:root {
    --body-background-color: #FAF7F2;
    --primary-color-dark: #112D32;
    --primary-color: #323E3C;
    --primary-color-light: #88B8B6;
    --secondary-color: #6E6658;
    --secondary-color-dark: #4F4A41;
    --text-color-light: #FEFFFF;

    --green: #D4EFDB;
    --green-dark: #1DD67D;
    --blue: #E7F2FA;
    --blue-dark: #00A5F6;
    --red: #FDE0ED;
    --red-dark: #F26464;

    
    --quicksan-font: 'Quicksand', sans-serif;
    --primary-font: 'Source Serif Pro', serif;
    --secondary-font: 'Noto Sans JP', sans-serif;
}