@font-face {
    font-family: WRITTEN;
    src: url("../assets/fonts/BeatneyRegular-qZmWr.ttf");
}

:root {
    --body-background-color: #FAF7F2;
    --primary-color-dark: #112D32;
    --primary-color: #323E3C;
    --primary-color-light: #88B8B6;
    --secondary-color: #6E6658;
    --secondary-color-dark: #4F4A41;
    --text-color-light: #FEFFFF;

    --open-font: 'Open Sans', sans-serif;
    --quicksan-font: 'Quicksand', sans-serif;
    --primary-font: 'Source Serif Pro', serif;
}