.staffArea {
  width: 100%;
  min-height: 100vh;
  position: relative;

  .sideNav {
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    h3{
      display: block;
      margin-top: 40px;
      margin-bottom: 16px;
      margin-left: 5px;
      padding: 0 40px;
      font-family: var(--quicksand-font);
      font-size: 16px;
      color: var(--primary-color-light);
      text-transform: uppercase;
      @include media("<=desktop") { font-size: 13px;}
    }
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: var(--primary-color-light);
      margin-bottom: 16px;
      padding: 0 40px;
      font-family: var(--quicksand-font);
      font-size: 17px;
      @include media("<=desktop") { font-size: 14px; margin-bottom: 12px; }
      svg {
        margin-right: 5px;
        height: 16px;
        @include media("<=desktop") { height: 13px; }
      }
      &:hover{color: #ccc;}
    }
    a.active-link {
      color: #fff;
      border-left: 2px solid #fff;
    }
    .basics {
      padding-top: 40px;
    }
    .additional{
      padding-bottom: 40px;
    }
  }

  .contentBox {
    width: 80%;
    margin-left: auto;
    min-height: 100vh;
    overflow-x: hidden;

    .container {
      width: 80vw;
      height: 90vh;
      margin-left: auto;
      margin-right: 10px;
      padding: 0 15px;
      overflow: hidden;
    }
  }
}
