.staffArea {
  width: 100%;
  min-height: 100vh;
  position: relative;

  .sideNav {
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: var(--primary-color-light);
      margin-bottom: 20px;
      padding: 0 40px;
      font-family: var(--secondary-font);
      font-size: 18px;
      svg {
        margin-right: 5px;
        height: 16px;
      }
      &:hover{color: #ccc;}
    }
    a.active-link {
      color: #fff;
      border-left: 2px solid #fff;
    }
    .basics {
      padding: 40px 0;
    }
  }

  .contentBox {
    width: 80%;
    margin-left: auto;
    min-height: 100vh;
    overflow-x: hidden;

    .container {
      width: 80vw;
      height: 90vh;
      margin-left: auto;
      margin-right: 10px;
      padding: 0 15px;
      overflow: hidden;
    }
  }
}
