.staffHeading {
  min-height: 8vh;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  background: #fff;
  &__heading {
    display: flex;
    align-items: center;
    h2 {
      display: inline-block;
      font-size: 25px;
      line-height: 20px;
      font-family: var(--quicksand-font);
      color: var(--primary-color);
      font-weight: 600;
    }
    svg {
      margin-right: 10px;
      height: 18px;
    }
  }
  &__staff {
    display: flex;
    align-items: center;
    .bulb{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .bulb.admin{background: var(--green-dark); border: 4px solid var(--green);}
    .bulb.staff{background: var(--yellow-dark); border: 4px solid var(--yellow);}
    .staff-name {
      margin-right: 10px;
      font-family: var(--quicksand-font);
      color: #444;
      font-weight: bold;
    }
    .staff-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ccc;
    }
  }
}
