.guestbook {
  width: 90%;
  margin: auto;
  min-height: 100vh;
  padding: 100px 200px;
  position: relative;
  @include media("<=desktop")  {padding: 100px 100px;}
  @include media("<=phone") { margin-top: 8vh; padding: 30px 20px; overflow: hidden; }

  .heading {
    h1 {
      font-family: var(--primary-font);
      font-size: 3rem;
      color: var(--primary-color);
      @include media("<=desktop")  {font-size: 2.4rem;}
      @include media("<=phone") { font-size: 22px; }
    }
  }
  h2 {
    font-family: var(--quicksand-font);
    color: #444;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 40px;
  }

  form {
    .input-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .input {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        @include media("<=phone") { margin-bottom: 10px; }

        label {
          font-family: var(--quicksand-font);
          font-size: 14px;
          color: gray;
          margin-bottom: 5px;
        }
        input,
        select {
          padding: 20px 25px;
          border: 2px solid #ccc;
          font-size: 20px;
          font-family: var(--quicksand-font);
          color: #444;
          outline: none;
          transition: 0.4s;
          @include media("<=desktop")  {padding: 13px 20px; font-size: 15px;}
          @include media("<=phone") { padding: 10px 13px; font-size: 14px; }
          &:focus {
            border: 2px solid var(--primary-color-light);
          }
          option {
            border: none;
            padding: 5px 10px;
            color: var(--primary-color);
          }
        }
        select {
          appearance: none;
          outline: none;
        }
      }
      .select {
        width: 100%;
        position: relative;
        select {
          width: 100%;
          cursor: pointer;
        }
        &::after {
          content: "";
          width: 1em;
          height: 0.6em;
          background-color: var(--primary-color-light);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 30px;
          @include media("<=phone") {
            right: 10px;
            width: 0.8em;
            height: 0.4em;
          }
        }
      }
      .w-100 { width: 100%; }
      .w-70 { width: 69%; }
      .w-50 { width: 49%; @include media("<=phone") { width: 100%; } }
    }
    .just-label { margin-bottom: -20px; .w-50{width: 49%;} }
    small.error { color: red; font-size: 16px; }

    .DateRangePickerInput {
      width: 100% !important;
      background: transparent;
      margin-bottom: 30px;
      @include media("<=phone") {
        margin-top: 10px;
      }
    }
    .DateRangePickerInput__withBorder { border: none; }
    .DateInput {
      padding: 10px 25px;
      width: 48%;
      border: 2px solid #ccc;
      font-size: 20px !important;
      &:not(:last-child) {
        margin-right: 15px;
      }
      @include media("<=desktop")  { padding: 6px 13px; }
      @include media("<=phone") { width: 47%; padding: 5px 13px; }
    }
    .DateInput_input {
      @include media("<=phone") {
        padding: 0;
      }
    }
    .DateRangePickerInput_arrow {
      display: none;
    }
    .DateInput_input__focused {
      border: none;
    }
    .CalendarDay__selected_span {
      background: var(--primary-color-light);
      color: var(--primary-color);
      border: none;
    }
    .CalendarDay__selected {
      background: var(--primary-color-2);
      border: none;
      color: #fff;
    }
    .CalendarDay__selected:hover {
      background: var(--primary-color-light);
      color: var(--primary-color);
    }
    .CalendarDay__hovered_span:hover,
    .CalendarDay__hovered_span {
      background: var(--primary-color-light);
      border: none;
      color: var(--primary-color);
    }
    .DayPickerKeyboardShortcuts_show__bottomRight::before {
      display: none;
    }
    .CalendarMonth_caption {
      font-family: var(--secondary-font);
    }

    button.DateRangePickerInput_clearDates {
      background: var(--primary-color);
      width: 50px;
      height: 50px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        color: #fff !important;
      }
    }
  }

  .button-box {
    margin-top: 20px;
    display: flex;
    button {
      width: 40%;
      outline: none;
      border: none;
      padding: 20px 25px;
      border-radius: 5px;
      margin-right: 20px;
      font-size: 20px;
      background: var(--primary-color-2);
      color: #fff;
      cursor: pointer;
      transition: 0.3s;
      &:hover { background: var(--primary-color); }
      @include media("<=desktop")  {padding: 13px 20px; font-size: 16px;}
      @include media("<=phone") { padding: 10px 13px; font-size: 15px; }
    }
    button.back {
      background: transparent;
      color: var(--primary-color);
      border: 2px solid var(--primary-color);
    }
    button.loading {
      background: transparent;
      background-color: #ccc;
      color: gray;
    }
  }

  // ----------- ROOM INFO TAKING -----------
  .room-info-taking {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    form {
      width: 49%;
      margin-top: 50px;
      @include media("<=phone") {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
      }
    }
    .room-desc {
      margin-top: 50px;
      width: 49%;
      padding: 40px;
      background: linear-gradient(
        270deg,
        var(--primary-color-2),
        var(--primary-color)
      );
      color: #fff;
      border-radius: 8px;
      overflow: hidden;
      @include media("<=phone") {
        width: 100%;
        padding: 20px;
      }
      h3 {
        font-weight: normal;
        font-family: var(--primary-font);
        font-size: 2rem;
        margin-bottom: 40px;
        @include media("<=phone") {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
      .room-desc-info {
        width: 100%;
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;
        .value {
          font-size: 25px;
          font-family: var(--primary-font);
          @include media("<=phone") {
            font-size: 18px;
          }
        }
        .logo {
          margin-right: 30px;
          font-size: 1.5rem;
          font-family: var(--quicksand-font);
          color: var(--secondary-color);
          font-weight: lighter;
          @include media("<=phone") {
            font-size: 16px;
          }
          img {
            height: 20px;
            @include media("<=phone") {
              height: 16px;
            }
          }
        }
      }
      .others {
        justify-content: left;
        margin-bottom: 10px;
      }
      .room-detail-price {
        margin-top: 30px;
        font-family: var(--primary-font);
        font-size: 4rem;
        font-weight: bold;
        line-height: 3.8rem;
        color: var(--secondary-color);
        display: flex;
        align-items: flex-end;
        @include media("<=phone") {
          font-size: 2rem;
          align-items: center;
          margin-top: 15px;
        }
        div {
          font-size: 20px;
          height: 4vh;
          display: flex;
          align-items: center;
          color: #fff;
          font-weight: normal;
          margin-right: 20px;
          font-family: var(--quicksand-font);
          @include media("<=phone") {
            font-size: 14px;
            margin-right: 10px;
          }
        }
        div.symbol {
          font-size: 2rem;
          align-self: flex-start;
          color: var(--secondary-color-dark);
          font-weight: bold;
          @include media("<=phone") {
            font-size: 20px;
          }
        }
      }

      img.feather {
        position: absolute;
        bottom: -20px;
        right: -30px;
        height: 40vh;
        transform: rotateY(180deg);
        @include media("<=phone") {
          height: 20vh;
          right: -15px;
          bottom: -10px;
        }
      }
    }
  }

  // GUEST INFO TAKING
  .guestInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    form {
      width: 59%;
      margin-top: 50px;
      @include media("<=desktop")  {width: 49%;}
      @include media("<=phone") { width: 100%; }
    }
    .instruction {
      margin-top: 50px;
      width: 39%;
      padding-left: 40px;
      @include media("<=desktop")  {width: 49%;}
      @include media("<=phone") { display: none; }
      h3 {
        font-family: var(--quicksand-font);
        text-transform: uppercase;
        color: #444;
        letter-spacing: 2px;
        margin-bottom: 15px;
      }
      p {
        font-family: var(--quicksand-font);
        font-size: 16px;
        margin-bottom: 15px;
        text-align: justify;
        @include media("<=desktop") { font-size: 14.5px; }
      }
      ul {
        margin-left: 20px;
        li {
          font-family: var(--quicksand-font);
          font-size: 16px;
          margin-bottom: 15px;
          text-align: justify;
          @include media("<=desktop") { font-size: 14.5px; }
        }
      }
    }
  }

  .confirmation {
    width: 70%;
    min-height: 50vh;
    margin: auto;
    margin-top: 30px;
    background: #fff;
    border-radius: 8px;
    padding: 25px 25px 25px 25px;

    .room {
      margin-top: 20px;
    }

    h3 {
      font-family: var(--quicksand-font);
      text-transform: uppercase;
      letter-spacing: 2px;
      color: gray;
      margin-bottom: 20px;
    }
    .info {
      display: flex;
      font-family: var(--quicksand-font);
      margin-bottom: 10px;
      .label {
        width: 50%;
        font-weight: bold;
        color: #ccc;
        font-size: 15px;
      }
      .value {
        width: 50%;
        font-size: 18px;
        color: #444;
      }
    }
  }
}
