.invoices {
  width: 100%;
  height: calc(90vh - 20px);
  display: flex;
  justify-content: space-between;

  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // ==================================================== PAYMENT DETAILS ====================================================
  .invoice {
    width: calc(60% - 10px);

    // -------------- bill -------------
    .bill-amounts {
      display: flex;
      justify-content: space-between;
      .bill { width: calc(50% - 6px); }

      .bill { height: 16vh; background-color: #fff; border-radius: 8px; }
      .bill {
        display: flex;
        justify-content: space-between;
        .recieved {
          width: 59%;
          padding: 10px 30px;
          font-family: var(--quicksand-font);
          @include media("<=desktop") { padding: 10px 20px; }
          h3 { font-size: 14px; color: #ccc; @include media("<=desktop") { font-size: 12px; }}
          h2 {
            font-size: 2.5rem;
            margin: 4px 0;
            color: #444;
            display: flex;
            align-items: flex-start;
            font-family: var(--quicksand-font);
            span { font-size: 1.5rem; color: #ccc; margin-top: 5px; }
            @include media("<=desktop") { font-size: 1.8rem; line-height: 1.9rem; }
          }
          p {
            padding: 5px 15px;
            font-size: 14px;
            font-weight: bold;
            display: flex;
            align-items: center;
            border-radius: 10px;
            width: fit-content;
            svg { height: 14px; margin-left: -5px; @include media("<=desktop") { height: 10px; }}
            @include media("<=desktop") { font-size: 10px; margin-top: 6px;}
          }
          p.com { background-color: var(--green); color: var(--green-dark); }
          p.due { background-color: var(--yellow); color: var(--yellow-dark); }
        }
        .details {
          width: 29%;
          padding: 10px 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .detail {
            .label {
              display: flex;
              align-items: center;
              h3 { font-family: var(--quicksand-font); font-size: 12px; @include media("<=desktop") { font-size: 10px; } }
              .circle { width: 10px; height: 10px; border-radius: 50%; margin-right: 5px; }
            }
            h3.tk { 
              font-size: 20px; font-weight: bold; color: #444; font-family: var(--quicksand-font); 
              @include media("<=desktop") { font-size: 15px; line-height: 15px; &:not(:last-child){margin-bottom: 5px;} }
            }
          }
          .detail.room .label { color: var(--blue-dark); }
          .detail.room .label .circle { background-color: var(--blue-dark); }
          .detail.food .label { color: var(--yellow-dark); }
          .detail.food .label .circle { background-color: var(--yellow-dark); }
        }
      }

      .description {
        padding: 10px 30px;
        font-family: var(--quicksand-font);
        h3 { color: #ccc; font-size: 14px; text-transform: uppercase; }
        h2 { font-size: 25px; margin-top: 10px; }
        p { font-size: 14px; font-weight: bold; color: #ccc; span { color: #666; } }
      }
    }

    // -------- table--------
    .table-block {
      height: calc(74vh - 30px);
      margin-top: 10px;
      padding: 25px;
      border-radius: 10px;
      background: #fff;
      
      h2 {
        font-family: var(--quicksand-font); color: #444; font-size: 18px; 
        @include media("<=desktop") { font-size: 15px; }
      }
      .table {
        background: #fff;
        margin-top: 20px;
        width: 100%;
        height: 51vh;
        margin-bottom: 17px;
        overflow-y: scroll;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
        @include media("<=desktop") { height: 48vh; margin-top: 12px; margin-bottom: 12px; }
        .table-heading,
        .orderItem {
          display: flex; background: #fff;
          div {
            display: flex; align-items: center; padding: 0 20px;
            font-family: var(--quicksand-font); font-size: 16px;
            border-bottom: 2px solid #f4f4f4; font-weight: bold;
            @include media("<=desktop") { font-weight: normal; }
          }
          .name { width: 35%; }
          .type { width: 20%; }
          .quantity { width: 15%; }
          .price { width: 10%; }
          .total { width: 20%; }
        }
        .table-heading { position: sticky; top: 0;
          svg { width: 12px; transform: rotate(-45deg); margin-left: 5px; }
          div { 
            height: 6vh; font-weight: bold; font-size: 14px; color: gray;
            @include media("<=desktop") { font-size: 12px; }
          }
        }

        .orderItem {
          cursor: pointer;
          div {
            height: 6vh; font-size: 14px;
            @include media("<=desktop") { font-size: 12px; }
          }
          .no { svg { height: 16px; color: var(--blue-dark); } div { width: 90%; margin-left: auto; } }
          &:hover { background: #f4f4f4; }
        }
      }

      // --------- bottom part ----------
      .button-box {
        display: flex;
        align-items: center;
        button {
          width: 20%;
          margin-right: 10px;
          padding: 15px 20px;
          outline: none;
          border: none;
          font-family: var(--quicksand-font);
          font-size: 15px;
          font-weight: bold;
          text-transform: uppercase;
          border-radius: 5px;
          cursor: pointer;
          color: gray;
          transition: 0.4s;
          &:hover{ color: #000;}
          @include media("<=desktop") { padding: 10px; font-size: 13px; }
        }
        button.saveInvoice{
          width: fit-content;
          background: var(--yellow-dark);
          color: #fff;
          padding: 15px 50px;
          @include media("<=desktop") { padding: 10px; font-size: 13px; }
        }
      }
      .success-message{
        position: absolute;
        bottom: 7vh;
        right: 35vw;
        background-color: var(--yellow);
        color: var(--yellow-dark);
        font-weight: bold;
        font-family: var(--quicksand-font);
        padding: 10px 20px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        font-size: 14px;
        div{
          width: 30px; height: 30px;
          border-radius: 50%; border: 2px solid var(--yellow-dark);
          margin-right: 10px; display: flex; align-items: center;
          justify-content: center;
        }
        opacity: 1;
        margin-left: 0;
        transition: 0.5s;
      }
      .success-message.disabled{
        margin-right: -30px;
        opacity: 0;
      }
    }
  }


  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // ==================================================== STAYING FUNC ====================================================
  .payment {
    width: 40%;
    background-color: #fff;
    padding: 20px 30px;
    margin-left: 10px;
    h2 { 
      margin: 10px 0 5px 0; font-size: 18px; color: #444; font-family: var(--quicksand-font); 
      @include media("<=desktop") { font-size: 15px; }
    }

    .stayingInfo {
      margin-top: 20px;
      margin-bottom: 40px;
      @include media("<=desktop") { margin-bottom: 28px; }
      .data {
        display: flex; justify-content: space-between; align-items: center;
        margin-top: 10px; font-family: var(--quicksand-font);
        @include media("<=desktop") { margin-top: 7px; }

        &__label {
          width: 70%; display: flex; align-items: center; font-size: 13px;
          font-weight: bold; color: gray; svg { height: 14px; margin-right: 5px; }
        }
        &__value { width: 30%; @include media("<=desktop") { font-size: 14px; }}
        &__value.by p {
          display: inline-block; padding: 4px 15px; font-weight: bold; font-size: 14px;
          border-radius: 10px; background: var(--blue); color: var(--blue-dark);
          @include media("<=desktop") { font-size: 12px; }
        }
      }
    }

    .stayingRooms {
      margin-top: 20px;
      margin-bottom: 32px;
      width: 100%;
      height: 36vh;
      overflow-y: scroll;
      overflow-x: hidden;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      @include media("<=desktop") { height: 30vh; }

      .table-heading,
      .room-data {
        display: flex; background: #fff;
        div {
          display: flex; align-items: center;
          padding: 0 20px; font-family: var(--quicksand-font);
          font-size: 16px; border-bottom: 2px solid #f4f4f4;
        }
        .no { width: 10%; }
        .type {width: 60%;}
        .name {width: 30%;}
      }

      .table-heading {
        position: sticky; top: 0;
        svg { width: 12px; transform: rotate(-45deg); margin-left: 5px; }
        div { height: 6vh; font-weight: bold; font-size: 14px; color: gray; }
      }

      .room-data { cursor: pointer;
        div {
          height: 6vh; font-size: 14px; font-weight: 600; 
          @include media("<=desktop") { font-weight: normal; }
        }
        &:hover { background: #f4f4f4; }
      }
    }

    button.payforRooms {
      width: 60%;
      padding: 15px 30px;
      border-radius: 5px;
      background: var(--blue-dark);
      color: #fff;
      font-family: var(--quicksand-font);
      font-weight: bold;
      font-size: 15px;
      text-transform: uppercase;
      outline: none;
      border: none;
      cursor: pointer;
      @include media("<=desktop") { padding: 10px 25px; font-size: 14px; }
    }
  }
}
