.activeGuest {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  .activeGuest-container {
    width: 100%;
    height: 90vh;
    margin-top: 10px;
    display: flex;
    position: relative;
    border-radius: 8px;
  }

  .guest-table-container {
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {display: none;}
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: #fff;
    transition: all 2s;

    // orginal tables
    .guest-table {
      width: 100%;
      background: #fff;
      border-radius: 8px;
      padding: 0;

      // search field
      .search-field {
        width: 100%;
        position: sticky;
        top: 0;
        background: var(--body-background-color);
        form {
          width: 100%;
          margin: 0 10px;
          height: 50px;
          display: flex;
          align-items: center;
          input {
            width: 80%;
            padding: 5px;
            font-size: 14px;
            outline: none;
            border: none;
            background: transparent;
          }
          .icon {
            height: 40px;
            padding: 5px 10px;
            background: transparent;
            svg {
              width: 18px;
              color: gray;
            }
          }
        }
      }
      // table heading and contents common style
      .table-heading,
      .aguest {
        display: flex;
        background: #fff;
        border-bottom: 3px solid #f4f4f4;
        div {
          height: 8vh;
          display: flex;
          align-items: center;
          padding: 0 20px;
          font-family: var(--quicksand-font);
          font-size: 16px;
        }
        .guest-name{width: 25%;}
        .phone{width: 25%;}
        .options{width: 60%;}
      }

      // Table Heading
      .table-heading {
        position: sticky;
        top: 50px;
        svg { width: 12px; transform: rotate(-45deg); margin-left: 5px; }
        div { font-weight: bold; font-size: 14px; color: gray; }
      }

      // Table Entrys
      .aguest{
          .options{
              display: flex;

              button{
                  padding: 10px 20px;
                  margin-right: 15px;
                  border-radius: 5px;
                  border: none;
                  outline: none;
                  cursor: pointer;
                  font-family: var(--quicksand-font);
                  font-weight: bold;
              }
              button.order-food{
                  background-color: var(--yellow);
                  color: var(--yellow-dark);
              }
              button.buy-tickets{
                  background-color: var(--blue);
                  color: var(--blue-dark);
              }
              button.bill{
                background-color: var(--green);
                color: var(--green-dark);
              }
          }
      }
      .empty{
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img{ height: 15vh; margin-bottom: 30px; }
        h2{ font-family: var(--quicksand-font); font-weight: normal; text-transform: uppercase; }
      }
    }
  }
}
