.admin {
  width: 100%;
  height: 90vh;
  display: flex;
  overflow: hidden;

  .register {
    width: 50%;
    height: 90vh;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #fff;
    .heading {
      padding: 40px 40px 0 40px;
      text-align: center;
      @include media("<=desktop") {padding: 25px 25px 0 25px; }
      h3 {
        font-family: var(--quicksand-font);
        font-size: 3rem;
        line-height: 40px;
        color: var(--primary-color);
        @include media("<=desktop") {font-size: 2.5rem;}
      }
      p {
        font-family: WRITTEN;
        font-size: 5rem;
        color: var(--primary-color-light);
        line-height: 20px;
      }
    }
    form {
      width: 100%;
      padding: 0 40px;
      @include media("<=desktop") {margin-top: -15px;}
      h3 {
        margin-top: 40px;
        margin-bottom: 15px;
        font-family: var(--quicksand-font);
        font-size: 15px;
        text-transform: uppercase;
        color: #444;
        @include media("<=desktop") {font-size: 12px; margin-top: 25px;}
      }
      .input-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        @include media("<=desktop") {margin-bottom: 15px;}

        .input {
          width: 49%;
          display: flex;
          flex-direction: column;
          label {
            font-family: var(--quicksand-font);
            font-size: 14px;
            color: gray;
            margin-bottom: 5px;
            @include media("<=desktop") {font-size: 12px;}
          }
          input,
          select {
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            font-family: var(--quicksand-font);
            transition: 0.4s;
            background-color: transparent;
            @include media("<=desktop") {font-size: 14.5px; border: 1.5px solid #ccc;}
            &:focus {
              border: 2px solid var(--primary-color-light);
              @include media("<=desktop") {border: 1.5px solid var(--primary-color-light);}
            }
            option {
              border: none;
              padding: 5px 10px;
              color: var(--primary-color);
            }
          }
          select {
            appearance: none;
            outline: none;
          }
        }
        .select {
          width: 100%;
          position: relative;
          select {
            width: 100%;
          }
          &::after {
            content: "";
            width: 0.8em;
            height: 0.5em;
            background-color: var(--primary-color-light);
            clip-path: polygon(100% 0%, 0 0%, 50% 100%);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
          }
        }
        .password {
          position: relative;
          svg {
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 16px;
            color: gray;
            cursor: pointer;
          }
        }
        .w-100 {
          width: 100%;
        }
        .w-65 {
          width: 64%;
        }
        .w-55 {
          width: 54%;
        }
        .w-45 {
          width: 44%;
        }
        .w-35 {
          width: 34%;
        }
      }
    }
    small {
      color: red;
      display: block;
      margin-top: -10px;
      margin-bottom: 10px;
    }
    button {
      padding: 15px 35px;
      background: var(--primary-color-2);
      color: #fff;
      font-size: 16px;
      font-family: var(--quicksand-font);
      font-weight: bold;
      outline: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      @include media("<=desktop") { padding: 10px 30px; font-size: 15px; }
      &:hover {
        color: var(--primary-color-light);
      }
    }
    .success-message{
      position: absolute;
      top:11vh;
      left: 44vw;
      background-color: var(--green);
      color: var(--green-dark);
      font-weight: bold;
      font-family: var(--quicksand-font);
      padding: 10px 20px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      font-size: 14px;
      div{
        width: 30px; height: 30px;
        border-radius: 50%; border: 2px solid var(--green-dark);
        margin-right: 10px; display: flex; align-items: center;
        justify-content: center;
      }
      opacity: 1;
      margin-left: 0;
      transition: 0.5s;
    }
    .success-message.disabled{
      margin-left: 30px;
      opacity: 0;
    }
  }
  .stafflist {
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 20px;
    border-radius: 8px;
    background: #fff;

    .heading-container {
      width: 100%;
      height: 15vh;
      position: relative;
      overflow: hidden;
      .text-part {
        position: absolute;
        top: 10px;
        left: 0;
        h3 {
          font-family: var(--quicksand-font);
          font-size: 3rem;
          line-height: 20px;
          color: var(--primary-color);
          @include media("<=desktop") { font-size: 2.5rem; }
          
        }
        p {
          font-family: WRITTEN;
          font-size: 5rem;
          color: var(--primary-color-light);
          line-height: 20px;
          margin-left: 20px;
        }
      }
      .style-part {
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        height: 20vh;
        img {
          height: 100%;
          margin-top: -3vh;
        }
      }
    }
    
    h3{
      font-family: var(--quicksand-font);
      color: var(--primary-color);
      margin-bottom: 10px;
      font-size: 20px;
    }

    .list-container {
      border: 1px solid #dfdfe1;
      height: 64vh;
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar { display: none; }
      -ms-overflow-style: none;
      scrollbar-width: none;
      @include media("<=desktop") { height: 60vh; }
      
      .table-heading{
        display: flex;
        border: 2px solid #f4f4f4;
        div {
          padding: 10px;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          color: #444;
          &:not(:last-child) {
            border-right: 2px solid #f4f4f4;
          }
        }
        .name { width: 50%; }
        .role { width: 20%; }
        .status { width: 30%; }
      }

      .accordion{
        width: 100%;
        height: fit-content;
        &__heading {
          width: 100%;
          display: flex;
          border: 2px solid #f4f4f4;
          cursor: pointer;
          &:hover { background: #f4f4f4; }
          div {
            padding: 10px;
            cursor: pointer;
            &:not(:last-child) {
              border-right: 2px solid #f4f4f4;
            }
          }
          .name { width: 50%; }
          .role { width: 20%; }
          .role.a p{
            display: inline-block;
            color: var(--blue-dark);
            background: var(--blue);
            padding: 5px 10px;
            font-weight: bold;
            border-radius: 5px;
          }
          .role.s p{
            display: inline-block;
            color: var(--yellow-dark);
            background: var(--yellow);
            padding: 5px 10px;
            font-weight: bold;
            border-radius: 5px;
          }
          .status {
            width: 20%;
            display: flex;
            align-items: center;
            font-weight: bold;
            svg {
              height: 14px;
              margin-left: 5px;
              margin-right: 5px;
            }
          }
          .status.active { color: var(--green-dark); svg { color: var(--green-dark); } }
          .status.disable { color: #ccc; svg { color: #ccc; } }
          
          .button {
            width: 10%;
            display: flex;
            justify-content: center;
            svg { transform: rotate(-45deg); height: 16px; transition: 0.5s; } }
          }
          .button.rotate { svg { transform: rotate(0) scale(1.5); }
        }
        &__content {
          overflow: hidden;
          .container {
            width: 100%;
            transition: all 0.6s ease-in-out;
            opacity: 0;
            height: 0;
            .info {
              display: flex;
              margin-bottom: 10px;
              .label {
                width: 30%;
                font-size: 14px;
                font-family: var(--quicksand-font);
                font-weight: bold;
                display: flex;
                svg {
                  margin-right: 5px;
                  height: 14px;
                }
              }
              .value {
                font-family: var(--quicksand-font);
                font-size: 15px;
              }
            }
            button {
              margin-top: 10px;
              padding: 7px 20px;
              background: var(--primary-color-light);
              color: var(--primary-color);
              font-family: var(--quicksand-font);
              font-size: 16px;
              font-weight: bold;
              outline: none;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              transition: 0.4s;
              &:hover{
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
              }
            }
          }
          .container.show {
            opacity: 1;
            height: 21vh;
            padding: 20px;
          }
        }
      }
    }
  }
}
