.bookingPage {
  width: 100%;
  height: calc(88vh + 5px);
  margin-top: 10px;
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {display: none;}
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;

  .search-field {
    width: 100%;
    position: sticky;
    top: 0;
    background: var(--body-background-color);
    form {
      width: 100%;
      margin: 0 10px;
      height: 50px;
      display: flex;
      align-items: center;
      input {
        width: 80%;
        padding: 5px;
        font-size: 14px;
        outline: none;
        border: none;
        background: transparent;
      }
      .icon {
        height: 40px;
        padding: 5px 10px;
        background: transparent;
        svg {
          width: 18px;
          color: gray;
        }
      }
    }
  }
  
  // filter by type
  .filter-by-type{
    background: var(--body-background-color);
    padding: 10px;
    display: flex;
    position: sticky;
    top: 50px;
    div{
      margin-right: 30px; font-family: var(--quicksand-font);
      cursor: pointer; font-weight: bold; color: gray; position: relative; transition: 0.4s;
      &::after{
        content: "";
        position: absolute; bottom: -4px; left: 0;
        width: 0%; height: 2px;
        background: var(--green-dark);
        transition: 0.4s;
      }
    }
    .active{
      color: var(--green-dark);
      &::after{width: 100%;}
    }
  }

  // table heading and contents common style
  .table-heading,
  .entry {
    display: flex;
    background: #fff;
    border-bottom: 3px solid #f4f4f4;
    div {
      height: 8vh;
      display: flex;
      align-items: center;
      padding: 0 20px;
      font-family: var(--quicksand-font);
      font-size: 16px;
    }
    .no {
      width: 10%;
    }
    .guest-name {
      width: 20%;
    }
    .status {
      width: 10%;
    }
    .checkin,
    .checkout {
      width: 15%;
    }
    .bookon {
      width: 15%;
    }
    .func {
      width: 15%;
    }
    .status p {
      width: 100%;
      padding: 5px 0;
      border-radius: 16px;
      font-size: 12px;
      font-family: var(--secondary-font);
      font-weight: bold;
      text-align: center;
      svg {
        height: 14px;
      }
    }
    .status.active p {
      color: var(--green-dark);
      background: var(--green);
    }
    .status.pending p {
      color: var(--yellow-dark);
      background: var(--yellow);
    }
    .status.canceled p{
      color: var(--red-dark);
      background: var(--red);
    }

    .func {
      padding: 0;
      .btn-boxx{ width: 90%; padding: 0; display: flex; align-items: center; justify-content: space-between; }
      button {
        height: 5.5vh;
        border-radius: 10px;
        outline: none;
        border: none;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
        &:hover{
          box-shadow: 0 5px 10px rgba(0,0,0,0.3);
        }
        svg{
          width: 20px; height: 20px;
          border-radius: 50%;
          padding: 3px;
          margin-right: 7px;
        }
      }

      button.disabled{
        width: 90%;
        background: #cccc;
        color: gray;
        svg{background: gray; color: #ccc;}
      }
      button.checkin{
        width: 48%;
        padding: 0 15px;
        background: var(--yellow);
        color: var(--yellow-dark);
        font-size: 12px;
        svg{background: var(--yellow-dark); color: #fff; }
      }
      button.cancel{
        width: 48%;
        padding: 0 15px;
        background: var(--red);
        color: var(--red-dark);
        font-size: 12px;
        svg{background: var(--red-dark); color: #fff; }
      }
      button.checkout{
        width: 90%;
        background: var(--green);
        color: var(--green-dark);
        svg{background: var(--green-dark); color: #fff; }
      }
    }
  }

  // Table Heading
  .table-heading {
    position: sticky;
    top: 50px;
    svg {
      width: 12px;
      transform: rotate(-45deg);
      margin-left: 5px;
    }
    div {
      font-weight: bold;
      font-size: 14px;
      color: gray;
    }
  }
  .entry {
    transition: 0.4s;
    &:hover {
      background: #f4f4f4;
    }
  }

  .success-message{
    position: absolute;
    top: 0;
    right: 40px;
    background-color: var(--green);
    color: var(--green-dark);
    font-weight: bold;
    font-family: var(--quicksand-font);
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 14px;
    div{
      width: 30px; height: 30px;
      border-radius: 50%; border: 2px solid var(--green-dark);
      margin-right: 10px; display: flex; align-items: center;
      justify-content: center;
    }
    opacity: 1;
    margin-left: 0;
    transition: 0.5s;
  }
  .success-message.disabled{
    margin-right: 50px;
    opacity: 0;
  }
}
