.bookBox {
  width: 100%;
  margin-top: 10px;
  height: calc(90vh - 10px);
  border-radius: 8px;
  padding: 10px 20px;
  background: #fff;
  position: relative;

  .schedule-info {
    width: 100%;
    display: flex;
    flex-direction: column;

    .input-head {
      h2 {
        font-size: 18px;
        font-family: var(--secondary-font);
      }
      p {
        font-family: WRITTEN;
        font-size: 70px;
        line-height: 20px;
        color: var(--primary-color-light);
        margin-top: -10px;
        margin-left: 40px;
      }
    }
    // ----------- GENERAL INFO ------------
    .bookingGeneral {
      margin-top: 40px;
      .labels {
        width: 100%;
        display: flex;
        .label {
          width: 45%;
          margin-left: 5px;
          font-size: 12px;
          font-family: var(--secondary-font);
          color: gray;
        }
      }
      .DateRangePickerInput {
        width: 100%;
      }
      .DateRangePickerInput__withBorder {
        border: none;
      }
      .DateInput {
        width: 45%;
        border: 2px solid #ccc;
        border-radius: 5px;
        margin-right: 20px;
        font-size: 10px !important;
      }
      .DateRangePickerInput_arrow {
        display: none;
      }
      .DateInput_input__focused {
        border: none;
      }
      .CalendarDay__selected_span {
        background: var(--primary-color-light);
        color: var(--primary-color);
        border: none;
      }
      .CalendarDay__selected {
        background: var(--primary-color-2);
        border: none;
        color: #fff;
      }
      .CalendarDay__selected:hover {
        background: var(--primary-color-light);
        color: var(--primary-color);
      }
      .CalendarDay__hovered_span:hover,
      .CalendarDay__hovered_span {
        background: var(--primary-color-light);
        border: none;
        color: var(--primary-color);
      }
      .DayPickerKeyboardShortcuts_show__bottomRight::before {
        display: none;
      }
      .CalendarMonth_caption {
        font-family: var(--secondary-font);
      }
      button.DateRangePickerInput_clearDates {
        background: var(--primary-color);
        width: 50px;
        height: 50px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          color: #fff !important;
        }
      }
      .apply,
      .back {
        display: inline-block;
        margin-top: 20px;
        padding: 15px 45px;
        font-family: var(--secondary-font);
        border-radius: 5px;
        cursor: pointer;
        transition: 0.4s;
      }
      .apply {
        background: var(--primary-color-2);
        color: #fff;
        &:hover{color: var(--primary-color-light);}
      }
      .back {
        background: #fff;
        color: #fff;
      }
    }
  }
}
