.contact {
  width: 100%;
  min-height: 100vh;
  @include media("<=phone") {
    margin-bottom: 30px;
  }

  .contact-container {
    width: 80%;
    margin: auto;
    margin-top: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media("<=desktop") { margin-top: 140px; }
    @include media("<=phone") { width: 100%; margin-top: 0;flex-direction: column-reverse; }

    .texts {
      width: 49%;
      padding: 100px 50px;
      @include media("<=desktop") { padding: 60px 50px; }
      @include media("<=phone") { width: 100%; padding: 30px; }
      &__heading {
        margin-bottom: 40px;
        h3 {
          font-family: var(--quicksand-font);
          font-size: 1.5rem;
          font-weight: normal;
          color: #444;
          @include media("<=phone") {font-size: 20px;}
        }
        h2 {
          font-family: var(--primary-font);
          font-size: 3.5rem;
          color: var(--primary-color);
          font-weight: normal;
          @include media("<=phone") {font-size: 2rem;}
        }
        p {
          width: 85%;
          font-family: var(--quicksand-font);
          font-size: 18px;
          color: #444;
          @include media("<=phone") { width: 100%; font-size: 15px;}
        }
      }

      &__address, &__phone {
        margin-bottom: 40px;
        h3 {
          font-family: var(--primary-font);
          color: var(--primary-color);
          font-size: 1.8rem;
          font-weight: normal;
          margin-bottom: 10px;
          @include media("<=phone") {font-size: 22px;}
        }
        p{
          font-family: var(--quicksand-font);
          font-size: 18px;
          margin-bottom: 5px;
          color: #444;
          @include media("<=phone") {font-size: 15px;}
        }
      }
    }
    .image {
      width: 49%;
      @include media("<=phone") { width: 100%;}
      img{
        width: 100%;
      }
    }
  }
}
