.dashboard {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .heading {
    width: calc(100% - 10px);
    height: 10vh;
    padding-left: 20px;
    background: var(--body-background-color);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 10;
    h1 {
      font-family: var(--primary-font);
      color: var(--primary-color);
      font-size: 2.5rem;
      display: inline-block;
    }
  }
  .dashboard-container {
    width: calc(100% - 10px);
    height: calc(90vh - 10px);
    display: flex;
    .content {
      width: calc(75% - 10px);
      height: calc(90vh - 10px);
    }

    // ------------------ Right nav ------------------
    .right-nav {
      width: 25%;
      height: calc(90vh - 20px);
      margin-left: 10px;
      background: #fff;
      border-radius: 8px;
      padding: 25px;

      .options {
        .option {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          cursor: pointer;
          .option-logo {
            width: 50px;
            height: 50px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            svg,
            img {
              width: 20px;
              height: 20px;
            }
          }
          .booking{ background: var(--red); color: var(--red-dark); }
          .foodOrder{ background: var(--blue); color: var(--blue-dark); }
          .park{ background: var(--green); color: var(--green-dark); }
          .option-name {
            font-family: var(--secondary-font);
            font-size: 16px;
          }
        }
      }
    }
  }
}
