.dashboard {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  .dashboard-container {
    width: 100%;
    height: 90vh;
    margin-top: 10px;
    display: flex;
    position: relative;
    border-radius: 8px;

    /* ============================ ROOM TABLE ONTAINER ====================== */
    .room-table-container {
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;

      // scrollbar configuration
      // &::-webkit-scrollbar-track {
      //   background-color: transparent;
      //   border-radius: 10px;
      // }
      // &::-webkit-scrollbar {
      //   width: 6px;
      //   padding: 0 5px;
      //   background-color: #f5f5f5;
      // }
      // &::-webkit-scrollbar-thumb {
      //   border-radius: 10px;
      //   background-color: #fff;
      //   background-image: -webkit-gradient(
      //     linear,
      //     40% 0%,
      //     75% 84%,
      //     from(var(--primary-color-light)),
      //     to(var(--primary-color-light)),
      //     color-stop(0.6, var(--primary-color))
      //   );
      // }
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;

      // search field
      .search-field {
        width: 100%;
        position: sticky;
        top: 0;
        form {
          width: 100%;
          margin: 0 10px;
          height: 50px;
          display: flex;
          align-items: center;
          input {
            width: 80%;
            padding: 5px;
            font-size: 14px;
            outline: none;
            border: none;
            background: transparent;
          }
          .icon {
            height: 40px;
            padding: 5px 10px;
            background: transparent;
            svg {
              width: 18px;
              color: gray;
            }
          }
        }
      }

      // orginal tables
      .room-table {
        width: 100%;
        background: #fff;
        border-radius: 8px;
        padding: 0;

        .table-heading,
        .aroom {
          display: flex;
          background: #fff;
          border-bottom: 3px solid #f4f4f4;
          div {
            height: 8vh;
            display: flex;
            align-items: center;
            padding: 0 20px;
            font-family: var(--secondary-font);
            font-size: 16px;
          }
          .no {
            width: 15%;
          }
          .guest-name {
            width: 30%;
          }
          .status {
            width: 15%;
          }
          .checkin,
          .checkout {
            width: 20%;
          }
          .food-order {
            width: 20%;
          }
          .status p {
            width: 100%;
            padding: 8px 16px;
            border-radius: 5px;
            font-size: 16px;
            font-family: var(--secondary-font);
            font-weight: bold;
            text-align: center;
            svg {
              height: 14px;
            }
          }
          .status.free p {
            color: var(--green-dark);
          }
          .status.lock p {
            color: var(--red-dark);
          }
        }

        // Table Heading
        .table-heading {
          position: sticky;
          top: 0;
          border-radius: 8px 8px 0 0;
          svg {
            width: 12px;
            transform: rotate(-45deg);
            margin-left: 5px;
          }
          div {
            font-weight: bold;
            font-size: 14px;
            color: gray;
          }
        }

        // Table Entrys
        .aroom {
          .food-order button {
            padding: 10px;
            outline: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.4s;
            background: var(--primary-color-light);
            color: var(--primary-color);
            font-size: 14px;
            font-weight: bold;
            &:hover {
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
            }
          }
        }
        .dim {
          background: #f7f7f8;
          border-left: 4px solid #dfdfe1;
          border-bottom: 3px solid #fff;
          cursor: pointer;
          &:hover {
            background: #dfdfe1;
          }
        }
      }
    }

    // ============================ FOOD ORDER CONTAINER ======================
    .food-order-container {
      width: 100%;
      display: flex;
      .foodOrdering {
        width: 55%;
        background: #fff;
        border-radius: 8px;
        padding: 20px;

        .heading-content {
          position: relative;
          .heading {
            text-align: center;
            h3 {
              font-family: var(--quicksand-font);
              font-size: 3rem;
              line-height: 20px;
              color: var(--primary-color);
            }
            p {
              font-family: WRITTEN;
              font-size: 5rem;
              color: var(--primary-color-light);
              line-height: 20px;
            }
          }
          .heading-button {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--primary-color);
            box-shadow: 0 0 20px var(--primary-color-light);
            cursor: pointer;
            transition: 0.4s;
            svg {
              height: 18px;
              color: #fff;
              transition: 0.5s;
            }
            &:hover svg {
              transform: scale(1.5);
            }
          }
        }

        h3.secondary-head {
          margin-top: 40px;
          font-family: var(--quicksand-font);
          color: var(--primary-color);
        }

        .orderedFood {
          border: 2px solid #f4f4f4;
          margin-top: 2vh;
          height: 48vh;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            display: none;
          }
          -ms-overflow-style: none;
          scrollbar-width: none;

          .table-heading,
          .food {
            display: flex;
            border-top: 1px solid #f4f4f4;
            border-bottom: 1px solid #f4f4f4;
            div {
              height: 5vh;
              display: flex;
              align-items: center;
              padding: 0 20px;
              font-family: var(--secondary-font);
              font-size: 16px;
              &:not(:last-child) {
                border-right: 2px solid #f4f4f4;
              }
            }
            .no {
              width: 20%;
            }
            .name {
              width: 60%;
            }
            .quantity {
              width: 20%;
            }
          }
          .table-heading {
            position: sticky;
            top: 0;
            background: #fff;
            svg {
              width: 12px;
              transform: rotate(-45deg);
              margin-left: 5px;
            }
            div {
              font-weight: bold;
              font-size: 14px;
              color: gray;
            }
          }
        }
        .food {
          &:not(:last-child) {
            border-bottom: none;
          }
        }

        button {
          border: none;
          border-radius: 5px;
          background: var(--primary-color);
          color: var(--primary-color-light);
          cursor: pointer;
          font-family: var(--quicksand-font);
          font-size: 16px;
          font-weight: bold;
          margin-top: 20px;
          outline: none;
          padding: 10px 40px;
          &:hover {
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
          }
        }
      }

      // ------ Available foods --------
      .available-foods {
        width: calc(45% - 10px);
        margin-left: 10px;
        padding: 20px;
        border-radius: 8px;
        background: #fff;

        .heading-container {
          width: 100%;
          height: 20vh;
          position: relative;
          .text-part {
            position: absolute;
            top: 10px;
            left: 0;
            h3 {
              font-family: var(--quicksand-font);
              font-size: 3rem;
              line-height: 20px;
              color: var(--primary-color);
            }
            p {
              font-family: WRITTEN;
              font-size: 5rem;
              color: var(--primary-color-light);
              line-height: 20px;
              margin-left: 20px;
            }
          }

          .style-part {
            position: absolute;
            top: 0;
            right: 0;
            height: 20vh;
            width: 40%;
            background: var(--primary-color);
            border-radius: 0 0 0 25px;
            .style {
              width: 100%;
              height: 20vh;
              position: relative;
              img {
                width: 100%;
                position: absolute;
                bottom: -50px;
                right: -20px;
              }
            }
          }
          form {
            position: absolute;
            bottom: 0;
            left: 25px;
          }
        }
        // available content
        .availabel-table {
          border: 2px solid #f4f4f4;
          margin-top: 4vh;
          height: 60vh;
          overflow-y: scroll;
          &::-webkit-scrollbar { display: none; }
          -ms-overflow-style: none;
          scrollbar-width: none;
        }
      }
      form {
        margin-top: 40px;
        width: 100%;
        .input-container {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;

          .input {
            width: 49%;
            display: flex;
            flex-direction: column;
            label {
              font-family: var(--quicksand-font);
              font-size: 14px;
              color: gray;
              margin-bottom: 5px;
            }
            input,
            select {
              padding: 10px;
              border: 2px solid var(--primary-color-light);
              border-radius: 5px;
              font-size: 16px;
              font-family: var(--quicksand-font);
              font-weight: bold;
              transition: 0.4s;
              &:focus {
                border: 2px solid var(--primary-color);
              }
              option {
                border: none;
                padding: 5px 10px;
                color: var(--primary-color);
              }
            }
            select {
              appearance: none;
              outline: none;
            }
          }
          .select {
            width: 100%;
            position: relative;
            select {
              width: 100%;
            }
            &::after {
              content: "";
              width: 0.8em;
              height: 0.5em;
              background-color: var(--primary-color-light);
              clip-path: polygon(100% 0%, 0 0%, 50% 100%);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 10px;
            }
          }
          .w-50 {
            width: 49%;
          }
          .w-30 {
            width: 29%;
          }
          .w-20 {
            width: 19%;
          }
        }
      }
    }
    // ============================ GUEST DETAILS CONTAINER ======================
    .roomDetails {
      width: 100%;
      display: flex;
      // guest section
      &__guest {
        width: 60%;
        padding: 0;
        background: #fff;
        border-radius: 8px;
        .image-container {
          width: 100%;
          position: relative;
          border-radius: 8px 8px 0 0;
          overflow: hidden;
          .leaf-image {
            width: 110%;
            position: absolute;
            top: -50px;
            left: -30px;
            opacity: 0.3;
          }
          .back-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            background: var(--primary-color);
            color: #fff;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 0 0 20px var(--primary-color-light);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            svg {
              color: #fff;
              height: 20px;
              transition: 0.4s;
            }
            &:hover svg {
              transform: scale(1.5);
            }
          }
          .image {
            width: 200px;
            height: 200px;
            margin: auto;
            margin-top: 40px;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            overflow: hidden;
            background-color: #dfdfe1;
            img {
              height: 100%;
              margin-bottom: -15px;
            }
          }
        }
        .guest {
          width: 100%;
          padding: 20px 40px;
          margin-top: 20px;
          .heading {
            text-align: center;
            h3 {
              font-family: var(--quicksand-font);
              font-size: 3rem;
              line-height: 20px;
              color: var(--primary-color);
            }
            p {
              font-family: WRITTEN;
              font-size: 5rem;
              color: var(--primary-color-light);
              line-height: 20px;
            }
          }
          .infos {
            width: 100%;
            margin-top: 30px;
            .info-container {
              width: 100%;
              display: flex;
              justify-content: space-between;
              margin-bottom: 25px;
              .info {
                .label {
                  font-family: var(--quicksand-font);
                  font-weight: 600;
                  color: #888;
                  font-size: 12px;
                  margin-left: 4px;
                  margin-bottom: 5px;
                }
                .value {
                  border: 2px solid var(--primary-color-light);
                  padding: 10px;
                  border-radius: 5px;
                  color: #000;
                  font-size: 16px;
                  font-weight: 400;
                }
                .value.name {
                  text-transform: uppercase;
                  font-size: 18px;
                }
              }
              .r-100 {
                width: 100%;
              }
              .r-60 {
                width: 60%;
              }
              .r-48 {
                width: 49%;
              }
              .r-30 {
                width: 31%;
              }
              .r-20 {
                width: 15%;
              }
            }
          }
        }
      }
      // payments & room info section
      &__others {
        width: calc(40% - 20px);
        margin-left: 15px;

        .room-info {
          height: 45vh;
          padding: 40px;
          border-radius: 10px;
          background: #fff;
          .heading {
            text-align: center;
            h3 {
              font-family: var(--quicksand-font);
              font-size: 3rem;
              line-height: 20px;
              color: var(--primary-color);
            }
            p {
              font-family: WRITTEN;
              font-size: 5rem;
              color: var(--primary-color-light);
              line-height: 20px;
            }
          }
          .room {
            height: 20vh;
            margin-top: 30px;
            h1 {
              display: block;
              font-size: 10rem;
              font-family: var(--quicksand-font);
              letter-spacing: -15px;
              line-height: 8rem;
              color: var(--primary-color);
              text-align: center;
            }
            p {
              font-family: var(--secondary-font);
              color: var(--primary-color);
              font-weight: bold;
              text-align: center;
              font-size: 2rem;
              letter-spacing: -1px;
            }
          }
        }
        .payment-info {
          height: calc(45vh - 20px);
          margin-bottom: 10px;
          border-radius: 10px;
          background: #fff;
          position: relative;
          overflow: hidden;
          .card-image {
            width: 50%;
            position: absolute;
            right: -40px;
            bottom: -42px;
          }
          .heading {
            padding: 40px 40px 0 40px;
            text-align: center;
            h3 {
              font-family: var(--quicksand-font);
              font-size: 3rem;
              line-height: 20px;
              color: var(--primary-color);
            }
            p {
              font-family: WRITTEN;
              font-size: 5rem;
              color: var(--primary-color-light);
              line-height: 20px;
            }
          }
          .calculation {
            margin-top: 50px;
            padding: 0 40px;
            .calc {
              width: 100%;
              margin-top: 10px;
              display: flex;
              align-items: center;
              .label {
                width: 40%;
                font-weight: bold;
                font-family: var(--quicksand-font);
                font-size: 16px;
                color: #888;
              }
              .value {
                font-family: var(--quicksand-font);
                font-size: 20px;
                display: flex;
                align-items: center;
                svg {
                  margin-right: 5px;
                  margin-left: -5px;
                  height: 18px;
                }
              }
              .value.warning {
                border-radius: 5px;
                color: #f29f05;
                font-weight: bold;
              }
            }
            button {
              margin-top: 20px;
              padding: 10px 20px;
              outline: none;
              border: none;
              cursor: pointer;
              border-radius: 5px;
              background-color: var(--primary-color-light);
              color: var(--primary-color);
              font-family: var(--quicksand-font);
              font-size: 16px;
              font-weight: bold;
              &:hover {
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
              }
            }
          }
        }
      }
    }
  }
}
