.dashboard {
  width: 100%;
  height: 90vh;
  overflow: hidden;
  .dashboard-container {
    width: 100%;
    height: 90vh;
    margin-top: 10px;
    display: flex;
    position: relative;
    border-radius: 8px;

    /* ============================ ROOM TABLE ONTAINER ====================== */
    .room-table-container {
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;

      // scrollbar configuration
      // &::-webkit-scrollbar-track {
      //   background-color: transparent;
      //   border-radius: 10px;
      // }
      // &::-webkit-scrollbar {
      //   width: 6px;
      //   padding: 0 5px;
      //   background-color: #f5f5f5;
      // }
      // &::-webkit-scrollbar-thumb {
      //   border-radius: 10px;
      //   background-color: #fff;
      //   background-image: -webkit-gradient(
      //     linear,
      //     40% 0%,
      //     75% 84%,
      //     from(var(--primary-color-light)),
      //     to(var(--primary-color-light)),
      //     color-stop(0.6, var(--primary-color))
      //   );
      // }
      &::-webkit-scrollbar { display: none; }
      -ms-overflow-style: none;
      scrollbar-width: none;

      // search field
      .search-field {
        width: 100%;
        position: sticky;
        top: 0;
        form {
          width: 100%;
          margin: 0 10px;
          height: 50px;
          display: flex;
          align-items: center;
          input {
            width: 80%;
            padding: 5px;
            font-size: 14px;
            outline: none;
            border: none;
            background: transparent;
          }
          .icon {
            height: 40px;
            padding: 5px 10px;
            background: transparent;
            svg {
              width: 18px;
              color: gray;
            }
          }
        }
      }

      // orginal tables
      .room-table {
        width: 100%;
        background: #fff;
        border-radius: 8px;
        padding: 0;

        .table-heading,
        .aroom {
          display: flex;
          background: #fff;
          border-bottom: 3px solid #f4f4f4;
          div {
            height: 8vh;
            display: flex;
            align-items: center;
            padding: 0 20px;
            font-family: var(--secondary-font);
            font-size: 16px;
          }
          .no {width: 15%;}
          .guest-name {width: 30%;}
          .status {width: 15%;}
          .checkin, .checkout {width: 20%;}
          .food-order {width: 20%;}
          .status p {
            font-size: 16px;
            font-family: var(--secondary-font);
            width: 100%;
            text-align: center;
            padding: 8px 16px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            svg{
              height: 14px;
            }
            // color: #fff;
          }
          .status.free p {
            // background: var(--green);
            color: var(--green-dark);
          }
          .status.lock p {
            // background: var(--red);
            color: var(--red-dark);
          }
        }

        // Table Heading
        .table-heading {
          position: sticky;
          top: 0;
          border-radius: 8px 8px 0 0;
          svg {
            width: 12px;
            transform: rotate(-45deg);
            margin-left: 5px;
          }
          div {
            font-weight: bold;
            font-size: 14px;
            color: gray;
          }
        }

        // Table Entrys
        .aroom {
          .food-order button {
            width: 90%;
            margin: auto;
            padding: 12px;
            outline: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.4s;
            background: var(--primary-color);
            color: #fff;
            font-size: 16px;
            &:hover {
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
            }
          }
        }
        .dim {
          background: #f7f7f8;
          border-left: 4px solid #dfdfe1;
          border-bottom: 3px solid #fff;
          cursor: pointer;
          &:hover {
            background: #dfdfe1;
          }
        }
      }
    }

    // ============================ FOOD ORDER CONTAINER ======================
    .food-order-container {
      width: 100%;
      // overflow-y: scroll;
      .foodOrdering {
        width: 75%;
        background: #fff;
        border-radius: 8px;
        padding: 20px;
        .heading {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .heading-content {
            h2 {
              font-family: var(--secondary-font);
              font-size: 1.5rem;
              line-height: 1rem;
              letter-spacing: -1px;
              color: var(--primary-color);
            }
            p {
              font-family: WRITTEN;
              color: var(--primary-color-light);
              font-size: 4rem;
              line-height: 20px;
              margin-left: 4rem;
            }
          }
          .heading-button {
            display: flex;
            align-items: center;
            padding: 5px 10px;
            font-family: var(--secondary-font);
            font-size: 14px;
            background: var(--primary-color);
            color: #fff;
            letter-spacing: -1px;
            border-radius: 4px;
            cursor: pointer;
            transition: 0.4s;
            &:hover {
              color: var(--primary-color-light);
            }
            &:hover svg {
              color: var(--primary-color-light);
            }
            svg {
              height: 18px;
              color: #fff;
              margin-left: 5px;
              transition: 0.4s;
            }
          }
        }
        form {
          margin-top: 40px;
          width: 100%;
          h3 {
            font-family: var(--secondary-font);
            color: gray;
            font-size: 14px;
            font-weight: normal;
          }
          .input-container {
            width: 100%;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            .input {
              padding: 10px 20px;
              border: 2px solid #dfdfe1;
              border-radius: 5px;
            }
            .disabled {
              background: #f7f7f8;
            }
            .row-30 {
              width: 30%;
            }
            .label {
              color: gray;
              font-family: var(--secondary-font);
              font-size: 12px;
              margin-left: 5px;
            }
          }
        }
      }
    }
    // ============================ GUEST DETAILS CONTAINER ======================
    .roomDetails{
      width: 100%;
      display: flex;
      // guest section
      &__guest{
        width: 60%;
        padding: 0;
        background: #fff;
        border-radius: 8px;
        .image-container{
          width: 100%;
          position: relative;
          border-radius: 8px 8px 0 0;
          overflow: hidden;
          .leaf-image{
            width: 110%;
            position: absolute;
            top: -50px;
            left: -30px;
            opacity: 0.3;
          }
          .back-btn{
            position: absolute;
            top: 20px;
            right: 20px;
            background: var(--primary-color);
            color: #fff;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            box-shadow: 0 0 20px var(--primary-color-light);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            svg{color: #fff; height: 20px; transition: 0.4s;}
            &:hover svg{transform: scale(1.5);}
          }
          .image{
            width: 200px;
            height: 200px;
            margin: auto;
            margin-top: 40px;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            overflow: hidden;
            background-color: #dfdfe1;
            img{
              height: 100%;
              margin-bottom: -15px;
            }
          }
        }
        .guest{
          width: 100%;
          padding: 20px 40px;
          margin-top: 20px;
          .heading{
            text-align: center;
            h3{
              font-family: var(--quicksand-font);
              font-size: 3rem;
              line-height: 20px;
              color: var(--primary-color);
            }
            p{
              font-family: WRITTEN;
              font-size: 5rem;
              color: var(--primary-color-light);
              line-height: 20px;
            }
          }
          .infos{
            width: 100%;
            margin-top: 30px;
            .info-container{
              width: 100%;
              display: flex;
              justify-content: space-between;
              margin-bottom: 25px;
              .info{
                .label{
                  font-family: var(--quicksand-font);
                  font-weight: 600;
                  color: #888;
                  font-size: 12px;
                  margin-left: 4px;
                  margin-bottom: 5px;
                }
                .value{
                  border: 2px solid var(--primary-color-light);
                  padding: 10px;
                  border-radius: 5px;
                  color: #000;
                  font-size: 16px;
                  font-weight: 400;
                }
                .value.name{
                  text-transform: uppercase;
                  font-size: 18px;
                }
              }
              .r-100{width: 100%;}
              .r-60{width: 60%;}
              .r-48{width: 49%;}
              .r-30{width: 31%;}
              .r-20{width: 15%;}
            }
          }
        }
      }
      // payments & room info section
      &__others{
        width: calc(40% - 20px);
        margin-left: 15px;

        .room-info{
          height: 45vh;
          padding: 40px;
          border-radius: 10px;
          background: #fff;
          .heading{
            text-align: center;
            h3{
              font-family: var(--quicksand-font);
              font-size: 3rem;
              line-height: 20px;
              color: var(--primary-color);
            }
            p{
              font-family: WRITTEN;
              font-size: 5rem;
              color: var(--primary-color-light);
              line-height: 20px;
            }
          }
          .room{
            height: 20vh;
            margin-top: 30px;
            h1{
              display: block;
              font-size: 10rem;
              font-family: var(--quicksand-font);
              letter-spacing: -15px;
              line-height: 8rem;
              color: var(--primary-color);
              text-align: center;
            }
            p{
              font-family: var(--secondary-font);
              color: var(--primary-color);
              font-weight: bold;
              text-align: center;
              font-size: 2rem;
              letter-spacing: -1px;
            }
          }
        }
        .payment-info{
            height: calc(45vh - 20px);
            margin-bottom: 10px;
            border-radius: 10px;
            background: #fff;
            position: relative;
            overflow: hidden;
            .card-image{
              width: 50%;
              position: absolute;
              right: -40px;
              bottom: -42px;
            }
            .heading{
              padding: 40px 40px 0 40px;
              text-align: center;
              h3{
                font-family: var(--quicksand-font);
                font-size: 3rem;
                line-height: 20px;
                color: var(--primary-color);
              }
              p{
                font-family: WRITTEN;
                font-size: 5rem;
                color: var(--primary-color-light);
                line-height: 20px;
              }
            }
            .calculation{
              margin-top: 50px;
              padding: 0 40px;
              .calc{
                width: 100%;
                margin-top: 10px;
                display: flex;
                align-items: center;
                .label{
                  width: 40%;
                  font-weight: bold;
                  font-family: var(--quicksand-font);
                  font-size: 16px;
                  color: #888;
                }
                .value{
                  font-family: var(--quicksand-font);
                  font-size: 20px;
                  display: flex;
                  align-items: center;
                  svg{
                    margin-right: 5px;
                    margin-left: -5px;
                    height: 18px;
                  }
                }
                .value.warning{
                  border-radius: 5px;
                  color: #F29F05;
                  font-weight: bold;
                }
              }
              button{
                margin-top: 20px;
                padding: 10px 20px;
                outline: none;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                background-color: var(--primary-color-light);
                color: var(--primary-color);
                font-family: var(--quicksand-font);
                font-size: 16px;
                font-weight: bold;
                &:hover{
                  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
                }
              }
            }
        }
      }
    }
  }
}
