.foodOrders{
    width: calc(100% - 10px);
    height: 90vh;
    border-radius: 8px;

    .order-table{
        height: 82vh;
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {display: none;}
        -ms-overflow-style: none;
        scrollbar-width: none;
        background: #fff;
    }
    // ========================================================= SEARCH ==============================================
    .search-field {
        width: 100%;
        position: sticky;
        top: 0;
        background: var(--body-background-color);
        form {
          width: 100%;
          margin: 0 10px;
          height: 50px;
          display: flex;
          align-items: center;
          input {
            width: 80%;
            padding: 5px;
            font-size: 14px;
            outline: none;
            border: none;
            background: transparent;
          }
          .icon {
            height: 40px;
            padding: 5px 10px;
            background: transparent;
            svg {
              width: 18px;
              color: gray;
            }
          }
        }
      }
      // ========================================================= FILTER ==============================================
      .filter-by-type{
        background: var(--body-background-color);
        padding: 10px;
        display: flex;
        position: sticky;
        // top: 50px;
        top: 0;
        padding: 20px 0;
        z-index: 4;
        // position: relative;
        div{
          margin-right: 30px; font-family: var(--quicksand-font);
          cursor: pointer; font-weight: bold; color: gray; position: relative; transition: 0.4s;
          &::after{
            content: "";
            position: absolute; bottom: -4px; left: 0;
            width: 0%; height: 2px;
            background: var(--green-dark);
            transition: 0.4s;
          }
        }
        .active{
          color: var(--green-dark);
          &::after{width: 100%;}
        }

        .messages{
          position: absolute;
          bottom: 20px;
          right: 20px;
          font-weight: bold;
          font-family: var(--quicksand-font);
          padding: 10px 20px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          font-size: 14px;
          z-index: 100;
          div{
            width: 30px; height: 30px;
            border-radius: 50%;
            margin-right: 10px; display: flex; align-items: center;
            justify-content: center;
          }
          opacity: 1;
          margin-left: 0;
          transition: 0.5s;
        }
        .messages.success{ 
          background-color: var(--green); color: var(--green-dark);
          div{border: 2px solid var(--green-dark); svg{color: var(--green-dark);}}
        }
        .messages.warning{ 
          background-color: var(--yellow); color: var(--yellow-dark);
          div{border: none; svg{color: var(--yellow-dark);}}
        }
        .messages.cancel{
          background-color: var(--red); color: var(--red-dark);
          div{border: none; svg{color: var(--red-dark);}}
        }
        .messages.disabled{
          margin-right: -30px;
          opacity: 0;
        }
      }

      // ========================================================= TABLE ==============================================
      .table-heading,
      .orderItem {
        display: flex;
        background: #fff;
        border-bottom: 3px solid #f4f4f4;
        div {
          padding: 0 20px;
          font-family: var(--quicksand-font);
          font-size: 16px;
          height: 6vh;
        }
        .no { width: 5%; display: flex; align-items: center;}
        .rooms { width: 10%; }
        .guest { width: 25%; display: flex; align-items: center;}
        .food { width: 30%; display: flex; align-items: center;}
        .status { width: 15%; display: flex; align-items: center;}
        .quantity {width: 10%; display: flex; align-items: center;}
        .notes {width: 15%;}
        
        .status p {
          // width: 100%;
          padding: 5px 16px;
          border-radius: 20px;
          font-size: 14px;
          font-family: var(--quicksand-font);
          font-weight: bold;
          text-align: center;
          svg { height: 14px; }
        }
        .status.complete p { background: var(--green); color: var(--green-dark); }
        .status.cancel p { background: var(--red); color: var(--red-dark); }
        .status.pending p { background: var(--yellow); color: var(--yellow-dark); }
    }

      // Table Heading
    .table-heading {
        position: sticky;
        // top: 90px;
        top: 60px;
        z-index: 4;
        border-radius: 8px 8px 0 0;
        svg { width: 12px; transform: rotate(-45deg); margin-left: 5px; }
        div { height: 8vh; font-weight: bold; display: flex; align-items: center; font-size: 14px; color: gray; }
    }

    .orderItem{
        cursor: pointer;
        div{height: 6vh; font-size: 14px;}
        .no{
            svg{height: 16px; color: var(--blue-dark);}
            div{width: 90%; margin-left: auto; display: flex; align-items: center; }
        }
        .rooms {
          cursor: pointer;
          position: relative;
          div.roomNumb {
            width: 100%;
            height: 6vh;
            padding: 10px 6px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            z-index: 1;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            border-radius: 4px;
            div {
              height: 3vh;
              width: 48%;
              margin-bottom: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-family: var(--quicksand-font);
              background-color: #f7f4f4; color: gray;
              border: 1px solid gray;
              border-radius: 20px;
              font-size: 12px;
              font-weight: bold;
            }
          }
        }
        .rooms.rooms-colored{
          div.roomNumb{
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            div{background-color: #dcd0ff; color: #9932cc;}
          }
        }
        .notes{
          display: block;
          padding: 0;
          position: relative;
          .con{
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: calc(100% - 5px);
            height: 6vh;
            z-index: 1;
            overflow: hidden;
            background: #fff;
            .green { 
              display: flex; align-items: center;
              color: var(--green-dark); font-weight: bold;
              svg{ color: var(--green-dark); margin-right: 10px; } 
            }
            .text{
              border: 1px solid #f7f7f7;
              padding: 5px;
              margin-top: 10px;
              padding: 10px 5px;
              font-size: 13px;
              font-family: var(--quicksand-font);
            }
          }
        }
        .notes.notes-colored{
          .con{
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          }
        }
        
    }
    .orderItem.selected{
      background: #f7f7f7; color: gray;
      .rooms { div.roomNumb { background-color: #f7f7f7; } }
    }

    
    // ========================================================= EMPTY LIST ==============================================
    .empty-list{
      display: flex; flex-direction: column; justify-content: center; align-items: center;
      img{ margin-top: 10vh; margin-bottom: 5vh; height: 15vh;}
      div{width: fit-content; font-family: var(--quicksand-font); font-size: 1.5rem;}
    }
    
    // ========================================================= BUTTON BOX ==============================================
    .btn-box{
        width: 100%;
        height: calc(8vh - 10px);
        margin-top: 10px;
        display: flex;
        align-items: center;
        button{
            margin-right: 20px;
            padding: 10px 30px;
            border-radius: 5px;
            outline: none;
            border: none;
            font-family: var(--quicksand-font);
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
            transition: 0.4s;
        }
        button.cancel{
            background: var(--red); color: var(--red-dark);
            &:hover{background: var(--red-dark); color: #fff;}
        }
        button.complete{
            background: var(--green); color: var(--green-dark);
            &:hover{background: var(--green-dark); color: #fff;}
        }
    }
}