.home {
  width: 100%;
  &__container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .home-image {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 90vh;
      width: 70%;
      overflow: hidden;
      .slider {
        width: 100%;
        height: 88vh;
        @include media("<=phone") {
          width: 100%;
          height: 40vh;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      ul.slick-dots {
        background: var(--body-background-color);
        padding: 5px;
        width: fit-content;
        position: absolute;
        right: 0;
        bottom: -18px;
        li {
          width: 90px;
          height: 50px;
          display: inline-block;
          padding: 0 !important;
          margin: 10px 5px;
          transition: 0.4s;
          .custom-dots {
            width: 90px;
            height: 50px;
            padding: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 90%;
              height: 100%;
            }
          }
        }
        li.slick-active{
          // padding: 5px;
          padding: 0 !important;
          transform: scale(1.3);
        }
      }
      @include media("<=phone") {
        width: 100%;
        height: 40vh;
        bottom: 10vh;
      }
    }

    .home-heading {
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 80vh;
      width: 30%;
      padding: 50px 50px 0 100px;
      @include media("<=phone") {
        width: 100%;
        height: 40vh;
        bottom: 38vh;
        padding: 10px 30px 0 30px;
      }
      h1 {
        font-size: 5.5rem;
        line-height: 5.5rem;
        text-transform: uppercase;
        font-family: var(--primary-font);
        color: var(--primary-color);
        @include media("<=phone") {
          font-size: 4rem;
          line-height: 4rem;
          text-align: center;
        }
      }
      h2 {
        font-weight: lighter;
        font-family: var(--secondary-font);
        font-size: 25px;
        line-height: 25px;
        margin-top: -20px;
        @include media("<=phone") {
          font-size: 14px;
          margin-left: 45px;
          margin-top: -10px;
        }
        svg {
          width: auto;
          height: 20px;
          margin-right: 10px;
          @include media("<=phone") {
            height: 14px;
            margin-right: 5px;
          }
        }
      }
      h3 {
        font-family: WRITTEN2;
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: bold;
        text-align: right;
        margin-top: -20px;
        color: var(--secondary-color);
        @include media("<=phone") {
          font-size: 1.5rem;
          line-height: 1.5rem;
          margin-right: 20px;
          margin-top: -15px;
        }
      }
      p {
        margin-top: 40px;
        font-family: var(--secondary-font);
        font-size: 16px;
        font-weight: 400;
        text-align: justify;
        @include media("<=phone") {
          margin-top: 15px;
          font-size: 13px;
        }
      }
      a {
        text-decoration: none;
        display: inline-block;
        position: relative;
        font-family: var(--secondary-font);
        font-weight: 600;
        font-size: 18px;
        margin-top: 25px;
        color: var(--primary-color);
        transform: 0.5s;
        @include media("<=phone") {
          font-size: 14px;
          margin-top: 10px;
        }
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          // transform: translateY(-50%);
          right: -60px;
          width: 50px;
          height: 2px;
          background-color: var(--primary-color-light);
          @include media("<=phone") {
            width: 25px;
            right: -30px;
          }
        }
        &:hover {
          color: var(--primary-color-light);
        }
      }
    }
  }
  /////////////////////////////////////////////////////////////////////////////////////
  &__features {
    padding: 100px;
    @include media("<=phone") {
      padding: 0 30px;
    }
    p.short-desc {
      width: 50%;
      margin: auto;
      // margin-top: 100px;
      margin-bottom: 100px;
      font-size: 2rem;
      font-family: var(--secondary-font);
      font-weight: lighter;
      text-align: center;
      @include media("<=phone") {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        font-size: 14px;
        text-align: justify;
      }
      span {
        color: var(--primary-color);
        text-transform: uppercase;
        font-family: var(--primary-font);
        font-weight: normal;
      }
    }
    .features--heading-for-mobile {
      display: none;
      @include media("<=phone") {
        display: block;
        margin-top: 50px;
        h2 {
          font-family: var(--primary-font);
          color: var(--primary-color);
          font-size: 2rem;
        }
        p {
          font-family: var(--secondary-font);
          font-size: 14px;
        }
      }
    }
  }

  ////////////////////////////////////////////////////////////////////////////////
  &__rooms,
  &__eat {
    display: flex;
    flex-wrap: wrap;
    @include media("<=phone") {
      padding: 0;
    }
    .heading-block {
      width: 50%;
      padding: 0 0 0 150px;
      @include media("<=phone") {
        width: 100%;
        padding: 0 30px 0 30px;
      }
    }
    .room-images,
    .eat-images {
      width: 50%;
      @include media("<=phone") {
        width: 100%;
        overflow: hidden;
      }
    }
  }

  ////////////////////////////////////////////////////////////////////////////////
  &__park {
    height: 80vh;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    @include media("<=phone") {
      height: 40vh;
      margin-top: 50px;
    }
    .park-overlay {
      width: 100%;
      height: 80vh;
      background: var(--primary-color);
      position: absolute;
      top: 0;
      top: 0;
      z-index: 5;
    }
    .park {
      position: absolute;
      top: 0;
      left: 0;
      height: 80vh;
      width: 100%;
      background: linear-gradient(
          0deg,
          rgba(50, 62, 60, 0.6),
          rgba(17, 45, 50, 0.8)
        ),
        url("../../assets/images/View/garden-4.JPG") no-repeat center center /
          cover;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include media("<=phone") {
        height: 50vh;
      }

      div {
        padding: 0 140px;
        width: 50%;
        @include media("<=phone") {
          padding: 30px;
          width: 100%;
        }
        h1 {
          font-family: var(--primary-font);
          font-size: 3.5rem;
          color: #fff;
          font-weight: normal;
          @include media("<=phone") {
            font-size: 1.5rem;
          }
        }
        p {
          display: block;
          width: 80%;
          color: #fff;
          font-family: var(--quicksand-font);
          font-size: 18px;
          line-height: 30px;
          @include media("<=phone") {
            font-size: 16px;
            width: 100%;
            line-height: 20px;
            display: none;
          }
        }
        a {
          display: inline-block;
          margin-top: 30px;
          padding: 20px 50px;
          border: 1px solid #fff;
          border-radius: 3px;
          font-family: var(--quicksand-font);
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #fff;
          transition: 0.5s;
          @include media("<=phone") {
            padding: 15px 25px;
            text-align: center;
            font-size: 14px;
            font-family: var(--quicksand-font);
            background: transparent;
            color: #fff;
          }
          &:hover {
            background-color: #fff;
            color: var(--primary-color);
          }
        }
      }
      .desc {
        @include media("<=phone") {
          padding-top: 0;
          margin-bottom: 60px;
        }
      }
    }
  }

  ///////////////////////////////////////////////////////////////////////////
  &__events{
    width: 100%;
    min-height: 100vh;
  }
}
