.features {
  width: 90%;
  margin: auto;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include media("<=phone") {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .image {
    width: 50%;
    height: 80vh;
    background-color: var(--primary-color);
    overflow: hidden;
    position: relative;
    object-fit: cover;
    @include media("<=phone") {
      width: 100%;
      height: 40vh;
      margin-right: 0;
    }

    span{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 80vh;
      img{
        width: 100%;
        height: 100%;
      }
      .image-1 {
        z-index: 0;
        width: 100%;
      }
      .image-2 {
        z-index: 1;
        width: 100%;
      }
    }
    // img {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 80vh;
    // }
    // .image-1 {
    //   z-index: 0;
    //   width: 100%;
    // }
    // .image-2 {
    //   z-index: 1;
    //   width: 100%;
    // }
  }
  .content {
    width: 40%;
    @include media("<=phone") {
      width: 100%;
    }
    h2 {
      font-family: var(--primary-font);
      font-size: 3.5rem;
      color: var(--primary-color);
      text-transform: uppercase;
      @include media("<=phone") { display: none; }
    }
    p.content-desc {
      font-family: var(--quicksand-font);
      font-size: 2rem;
      margin-bottom: 10px;
      @include media("<=phone") { display: none; }
    }
    a {
      display: inline-block;
      margin-top: 40px;
      padding: 20px 50px;
      border: 1px solid var(--primary-color);
      font-family: var(--quicksand-font);
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: var(--primary-color);
      border-radius: 3px;
      transition: 0.5s;
      font-weight: bold;
      @include media("<=phone") {
          width: 100%;
          text-align: center;
          font-size: 18px;
          font-family: var(--secondary-font);
          background: var(--primary-color);
          color: #fff;
      }
      &:hover {
        background-color: var(--primary-color);
        color: #fff;
      }
    }
    .feature-list {
      margin-top: 20px;
      .feature {
        padding: 20px 0 20px;
        border-bottom: 0.1px solid var(--primary-color-light);
        overflow: hidden;
        p {
          font-size: 25px;
          font-family: var(--primary-font);
          color: var(--primary-color);
          cursor: pointer;
          @include media("<=phone") {
            font-size: 20px;
            text-align: center;
            outline: none;
          }
        }
      }
    }
  }
}