.home__rooms {
  width: 100%;
  height: fit-content;
  margin: 100px 0;

  // heading
  .heading-block {
    height: 60vh;
    position: sticky;
    top: 30vh;
    p.secondary-head{
      font-family: var(--quicksand-font);
      font-size: 2rem;
      margin-bottom: 10px;
    }
    p.desc-head{
      font-family: var(--quicksand-font);
      font-size: 16px;
      line-height: 25px;
      width: 60%;
    }
    h2 {
      font-family: var(--primary-font);
      font-size: 3.5rem;
      color: var(--primary-color);
      text-transform: uppercase;
    }
    a{
      display: inline-block;
      margin-top: 30px;
      padding: 20px 50px;
      border: 1px solid var(--primary-color);
      border-radius: 3px;
      font-family: var(--quicksand-font);
      text-decoration: none;
      text-transform: uppercase;
      color: var(--primary-color);
      letter-spacing: 2px;
      transition: 0.5s;
      font-weight: bold;
      @include media("<=phone") {
          width: 100%;
          text-align: center;
          font-size: 18px;
          font-family: var(--secondary-font);
          background: var(--primary-color);
          color: #fff;
      }
      &:hover {
        background-color: var(--primary-color);
        color: #fff;
      }
    }
  }

  // slider
  .room-images {
    height: fit-content;

    .img1{ width: 100%; height: fit-content; }
    .img2{
      width: 100%; height: 50vh;
      margin-top: 50px;
      position: relative;
      img.i-1{position: absolute; right: 80px;}
      img.i-2{position: absolute; left: 0; width: 35%; top: 50%; transform: translateY(-50%);}
    }
  }
}
