.bookingForm {
  width: 100%;
  height: calc(90vh - 10px);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  .heading {
    text-align: center;
    position: relative;
    h3 {
      font-family: var(--quicksand-font);
      font-size: 3rem;
      line-height: 30px;
      color: var(--primary-color);
    }
    p {
      font-family: WRITTEN;
      font-size: 5rem;
      color: var(--primary-color-light);
      line-height: 10px;
      margin-left: 20px;
    }
  }

  .guest {
    width: 60%;
    background: #fff;
    border-radius: 10px;
    
    .image-container {
      width: 100%;
      margin-bottom: 40px;
      position: relative;
      border-radius: 8px 8px 0 0;
      overflow: hidden;
      .leaf-image {
        width: 110%;
        position: absolute;
        top: -50px;
        left: -30px;
        opacity: 0.3;
      }
      .image {
        width: 150px;
        height: 150px;
        margin: auto;
        margin-top: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: #dfdfe1;
        img {
          height: 70%;
        }
      }
    }


    form {
      padding: 30px;
      display: flex;
      flex-direction: column;

      .input-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .input {
          width: 49%;
          display: flex;
          flex-direction: column;
          label {
            font-family: var(--quicksand-font);
            font-size: 14px;
            color: gray;
            margin-bottom: 5px;
          }
          input {
            padding: 15px;
            border: 2px solid var(--primary-color-light);
            border-radius: 5px;
            font-size: 16px;
            font-family: var(--quicksand-font);
            transition: 0.4s;
            &:focus {
              border: 2px solid var(--primary-color-2);
            }
          }
        }
        .w-100 {width: 100%;}
        .w-55 {width: 54%;}
        .w-45 {width: 44%;}
      }
      small{ color: red; font-size: var(--quicksand-font); margin-bottom: 10px;}
      .btn-box{display: flex;}
      button {
        width: 20%;
        margin-top: 10px;
        padding: 15px 0;
        border-radius: 5px;
        font-family: var(--quicksand-font);
        font-weight: bold;
        text-align: center;
        outline: none;
        border: none;
        cursor: pointer;
        transition: 0.4s;
        background: var(--primary-color-2);
        color: #fff;
        &:hover {
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          color: var(--primary-color-light);
        }
      }
      button.back-btn{
        margin-right: 20px;
        padding: 10px 20px; 
        background: #fff;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        width: 15%;
        text-align: center;
        display: flex;
        align-items: center;
      }
    }
  }

  .room {
    width: 39%;
    background: #fff;
    border-radius: 10px;

    .design {
      width: 100%;
      height: 40vh;
      border-radius: 10px;
      &__colored {
        width: 80%;
        height: 30vh;
        background: var(--primary-color-2);
        border-radius: 10px 0 70px 0;
        position: relative;
        overflow: hidden;
        img {
          position: absolute;
          top: -5px;
          left: -50px;
          height: 35vh;
        }
      }
    }
    .heading{ margin-bottom: 40px;}
    .additional-data{
      padding: 0 30px 30px 30px;
      h3{
        display: flex;
        align-items: center;
        font-family: var(--quicksand-font);
        font-size: 16px;
        svg{height: 16px; margin-right: 5px;}
        margin-left: -5px;
      }
      h3.r{color: var(--blue-dark);}
      h3.s{color: var(--yellow-dark);}

      .data{
        display: flex;
        margin-top: 15px;
        font-size: 16px;
        .label{width: 40%; font-weight: bold; font-size: var(--quicksand-font); color: gray; font-size: 14px;}
        .value{font-family: var(--quicksand-font);}
        .value.room_num{ background: var(--blue); color: var(--blue-dark); padding: 5px 15px; border-radius: 10px; font-weight: bold;  }
      }
    }
  }
}
