.roomInfo {
  margin-top: 20px;
  padding: 10px 0;
  width: 100%;
  height: 52vh;
  border: 2px solid #ccc;
  border-radius: 8px;
  @include media("<=desktop") { height: 53vh; }
  .beforeSearch,
  .afterSerch,
  .serchFailed {
    width: 100%;
    height: 52vh;
  }

  .beforeSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      width: 30%;
      margin-top: -50px;
      font-size: 14px;
      h2{font-family: var(--quicksand-font); text-align: center; font-weight: 500;}
      img {
        width: 100%;
      }
    }
  }

  .afterSerch {
    height: 50vh;
    display: flex;
    padding: 0 !important;
    overflow: hidden;
    .availavleRoomTable {
      width: 70%;
      height: 50vh;
      overflow-y: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar { display: none; }
      -ms-overflow-style: none;
      scrollbar-width: none;
      @include media("<=desktop") { height: 52vh; }

      .table-heading, 
      .available-room {
        display: flex;
        background: #fff;
        border-bottom: 3px solid #f4f4f4;
        div {
          height: 6vh;
          display: flex;
          align-items: center;
          padding: 0 20px;
          font-size: 16px;
          font-family: var(--quicksand-font);
          @include media("<=desktop") { font-size: 15px; }
        }
        .icon{width: 10%; svg{color: var(--green-dark); transform: scale(1); }}
        .id{width: 15%;}
        .type{width: 50%;}
        .no{ width: 25%; }
      }
      .available-room{
        cursor: pointer;
        transition: 0.3s;
        &:hover{
          background: #f4f4f4;
        }
      }

      .table-heading {
        position: sticky;
        top: 0;
        svg {
          width: 12px;
          transform: rotate(-45deg);
          margin-left: 5px;
        }
        div {
          font-weight: bold;
          font-size: 14px;
          color: gray;
          
        }
      }
    }

    .availableRoomGroup{
      width: 29%;
      height: 50vh;
      margin-left: 5px;
      padding-bottom: 10px;
      border-radius: 8px;
      overflow-y: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar { display: none; }
      -ms-overflow-style: none;
      scrollbar-width: none;
      background-color: #f4f4f4;
      

      .head{
        padding: 20px;
        position: sticky;
        top: 0;
        font-family: var(--quicksand-font);
        font-size: 14px;
        font-weight: bold;
        color: var(--primary-color);
        background: #f4f4f4;
        text-transform: uppercase;
        @include media("<=desktop") { font-size: 12.5px; }
      }
      
      .data{
        display: flex;
        align-items: center;
        font-family: var(--quicksand-font);
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 9px 9px 9px 20px;
        font-size: 16px;
        background-color: #fff;
        border-radius: 8px;
        @include media("<=desktop") { 
          margin-bottom: 8px; margin-left: 10px; margin-right: 10px;
          border-radius: 5px; padding: 4px 4px 4px 18px;
        }

        .logo{width: 10%; svg{color: var(--blue-dark);}}
        .type{width: 80%; font-weight: bold; color: #444; font-size: 14px; }
        .value{
          width: 20%;
          display: flex;
          justify-content: flex-end;
          h3{
            display: inline-block;
            width: 40px;
            height: 40px;
            background: var(--green);
            display: flex; justify-content: center; align-items: center;
            color: var(--primary-color);
            border-radius: 10px;
            @include media("<=desktop") { height: 32px; width: 32px; }
          }
        }
      }
    }
  }

  button.find{
    width: 13vw;
    background: var(--primary-color-2);
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: var(--quicksand-font);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
    @include media("<=desktop") { font-size: 15px; padding: 12px 30px; margin-top: 16px; }
    &:hover{
      color: var(--primary-color-light);
    }
  }

  small.error{
    color: red;
    font-size: 18px;
    margin-left: 30px;
    font-family: var(--quicksand-font);
    @include media("<=desktop") { margin-top: 15px; }
  }
}
